# WooCommerce REST API
WORDPRESS_URL=https://tu-dominio-wordpress.com
WC_CONSUMER_KEY=ck_tu_consumer_key_aqui
WC_CONSUMER_SECRET=cs_tu_consumer_secret_aqui
WC_API_VERSION=wc/v3

# Sanity
SANITY_PROJECT_ID=tu_project_id
SANITY_DATASET=production
SANITY_API_VERSION=2024-01-01
SANITY_USE_CDN=true

# Cotizaciones
COTIZACIONES_EMAIL=tu-email@dominio.com

# ELEX Quote API Endpoint
ELEX_QUOTE_ENDPOINT=/wp-json/elex-rfq/v1/quote/create
